/* CSS declarations go here */
/*.login-buttons, .login-title{
	text-align: center;
}*/

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

}

main{
	text-align: center;
	/*overflow: hidden;
	box-sizing: border-box;*/

} 




.add-new-tab{
	width:50%;
	margin: 0px;
}


/*za sliku prilikom dodavanja novog objekta*/
.demo-card-image.mdl-card {
	
  /*width: 256px;*/
  min-height: 150px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image{
	margin:auto;
}

/*dodato za template mesta, koji se prikazuje u listi*/
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px; 
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
} 

.demo-card-wide.mdl-card{
	margin:auto;	
}

.link-no-decoration{
	text-decoration: none;
}

.left-align{
	text-align: left;
}

.margin-bottom-0px{
	margin-bottom: 0px;
}

.margin-top-0px{
	margin-top: 0px;
}

#map { height: 550px; }


//za ikonice
.grade-icon{
	background-color:#0000FF;
}

//za rating
.stars{

}

#rating{
	width:230px;
	margin:auto;
}

.rating-wrapper{
	text-align: center;
}

.list-item-comment{
	padding: 10px;
	text-align: left;
	border: 1px solid rgba(63,81,181, 0.3);
	margin: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 3px rgba(63,81,181, 0.3);
}

.text-blue{
	color:rgba(63,81,181, 0.87);
	margin-top: 0px;
	border-bottom: 1px solid rgba(63,81,181, 0.87);
	padding-bottom: 10px;
}

.blue-icon{
	color:rgba(63,81,181, 0.87) !important; 
}

.js-my-fixed-header{
	padding-left: 16px !important;
}

.js-my-back-arrow{
	margin-right: 25px;
}

.my-drawer{
	width: 80%;
}

.my-nav-a{
	text-decoration: none;

}

.my-nav-a li:active{
	background-color: rgba(63,81,181, 0.3);
}

.mdl-my-fab{
	position: absolute !important;
	right: 10px;
	bottom: 50px;
}

.js-radius-switch{
	margin-left:16px;
	margin-bottom:10px;
}


.js-type-select{
	width:100%;
	border:none;
	border-bottom:1px solid rgba(0,0,0,.12);
	font-size: 16px;
	font-family: "Helvetica","Arial",sans-serif;
	padding: 4px 0;
	color:rgba(0,0,0,.8);
	background-color: #fff;
}
.js-type-select:focus{
	outline:none;
}



.img-circle{
	border-radius: 50%;

	margin-right:20px;
	margin-left:20px;
}

.place-item{
	text-align:center;

} 

.no-padding-left{
	padding-left: 0px;
}

.list-place-item{
margin:0px;
} 




.my-login-page{
	background-image: url(/images/login-background.png);

}

.label-login{
	color:rgba(0,0,0,.70);
}

.input-login{
	border-bottom: 1px solid rgba(0,0,0,.50);
}

.login-title{

}


.my-register-page{
	background-image: url(/images/register-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.register-title{
	margin-top:48px;
	margin-bottom:0px;
}

.background-white{
	background-color: white;
}


.mdl-list{
	width:400px;
	margin-top:0px;
	padding-top:0px;
}

.mdl-list__item-avatar{
	background-color: white;
}

.mdl-list__item{
	height:inherit;
}

.user-title{
	color:white;
	background-color: rgb(63,81,181);
	padding-left:20px;
	height:150px;

}

.user-name-title{
	margin-bottom: 0px;
}

.user-username-title{

}

.comments-list{
	width:100%;
}

.maps-list{
	width:100%;
}

.friend-list{
	width: 90%;
	margin: auto;
}

.leaflet-popup-content{
	text-align:center;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.plans-list-tab{
	width:33%;
	padding-left:0px;
	padding-right:0px;
}

.plans-list{
	width: 90%;
	margin:auto;
	
}

.plans-list li{
	margin-top:10px;
	margin-bottom:5px;
}

.js-save-plan, .js-plans{
	height:40px;
	border-radius:0%;
}

.b-modal{
	width:100%;
}
.friends-list-select{
	width:80%;
	margin:auto;
	background-color: white;
	border-radius: 10px;
	padding:10px;
	border:1px solid white;
}

#image1-div, #image2-div, #image3-div{
	float:left;
	width:33%;
	border-radius:10px;
	margin-top:20px;
}

li,a{
	text-decoration:none;
}

.plan-list-item{
	border: 1px solid rgb(63,81,181);
	border-radius:10px;
	padding:10px;
	margin:10px;
}
