/* CSS declarations go here */
/*.login-buttons, .login-title{
	text-align: center;
}*/

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

}

main{
	text-align: center;
	/*overflow: hidden;
	box-sizing: border-box;*/

} 




.add-new-tab{
	width:50%;
	margin: 0px;
}


/*za sliku prilikom dodavanja novog objekta*/
.demo-card-image.mdl-card {
	
  /*width: 256px;*/
  min-height: 150px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card-image{
	margin:auto;
}

/*dodato za template mesta, koji se prikazuje u listi*/
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px; 
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
} 

.demo-card-wide.mdl-card{
	margin:auto;	
}

.link-no-decoration{
	text-decoration: none;
}

.left-align{
	text-align: left;
}

.margin-bottom-0px{
	margin-bottom: 0px;
}

.margin-top-0px{
	margin-top: 0px;
}

#map { height: 550px; }


//za ikonice
.grade-icon{
	background-color:#0000FF;
}

//za rating
.stars{

}

#rating{
	width:230px;
	margin:auto;
}

.rating-wrapper{
	text-align: center;
}

.list-item-comment{
	padding: 10px;
	text-align: left;
	border: 1px solid rgba(63,81,181, 0.3);
	margin: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 3px rgba(63,81,181, 0.3);
}

.text-blue{
	color:rgba(63,81,181, 0.87);
	margin-top: 0px;
	border-bottom: 1px solid rgba(63,81,181, 0.87);
	padding-bottom: 10px;
}

.blue-icon{
	color:rgba(63,81,181, 0.87) !important; 
}

.js-my-fixed-header{
	padding-left: 16px !important;
}

.js-my-back-arrow{
	margin-right: 25px;
}

.my-drawer{
	width: 80%;
}

.my-nav-a{
	text-decoration: none;

}

.my-nav-a li:active{
	background-color: rgba(63,81,181, 0.3);
}

.mdl-my-fab{
	position: absolute !important;
	right: 10px;
	bottom: 50px;
}

.js-radius-switch{
	margin-left:16px;
	margin-bottom:10px;
}


/*proba sa fotografijama*/
.demo-card-image.mdl-card {
  background: url('http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg') center / cover;
}

.demo-card-wide > .mdl-card__title {
  background: url('http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg') center / cover;
}

.mdl-card__title{
color:#fff !important;
}
