<template name="AddNewCommentLayout">
		

	<div class="animate">

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-title" type="text" id="title" name="title">
		    	<label class="mdl-textfield__label" for="title">Title</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield">
    			 <textarea class="mdl-textfield__input js-content" type="text" rows= "3" id="content" name="content"></textarea>
   				 <label class="mdl-textfield__label" for="content">Review</label>
  			</div>
  		</div>

<div class="mdl-cell mdl-cell--12-col rating-wrapper">
		{{> starsRating id='rating' mutable=true size=50}}
</div>
	</div>

		<div class="mdl-cell mdl-cell--12-col">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-add-comment" name="add-comment">
  				Add review
			</button>
		</div>

	  

	
</template>