<template name="LoginLayout">

  <main>

	<div class="mdl-layout mdl-js-layout my-login-page">
  
	<h3 class="login-title margin-bottom-0px ">Travel the World </h3> 
	<h4 class="login-title margin-top-0px margin-bottom-0px">with</h4>
	<b><h1 class="login-title margin-top-0px margin-bottom-0px">TripPlanner</h1></b>
		
		

		<form>

		<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-username input-login" type="text" id="username" name="username">
		    	<label class="mdl-textfield__label label-login" for="username">Username</label>
		  	</div>
		</div>


		<div class="mdl-cell mdl-cell--12-col">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-password input-login" type="password" id="password" name="password">
		    	<label class="mdl-textfield__label label-login" for="password">Password</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
		  	<button class="js-register mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " name="register">
  				Register
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-login" name="login">
  				Login
			</button>
		</div>

			</div>

	  	</form>



	  </div>

	</main>	


	
</template>