<template name="LoginLayout">

  <main>

	<div class="mdl-layout mdl-js-layout">
  
	<h1 class="login-title">Welcome to TripPlanner!</h1>
		
		

		<form>

		<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-username" type="text" id="username" name="username">
		    	<label class="mdl-textfield__label" for="username">Username</label>
		  	</div>
		</div>


		<div class="mdl-cell mdl-cell--12-col">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-password" type="password" id="password" name="password">
		    	<label class="mdl-textfield__label" for="password">Password</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
		  	<button class="js-register mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " name="register">
  				Register
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-login" name="login">
  				Login
			</button>
		</div>

			</div>

	  	</form>



	  </div>

	</main>	


	
</template>