<template name="AddNewLayout">

<div class="mdl-layout mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row js-my-fixed-header">
      <!-- Title --><i class="material-icons js-my-back-arrow">arrow_back</i>
      <span class="mdl-layout-title">List of places</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

<!--za search-->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp">
        </div>
        </div>

    </div>
  </header>

    <main class="mdl-layout__content">



<div class="page-content">
	
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#starks-panel" class="mdl-tabs__tab is-active add-new-tab">Location</a>
      <a href="#lannisters-panel" class="mdl-tabs__tab add-new-tab">Information</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="starks-panel">
    {{> MapLayout}}
  </div>
  <div class="mdl-tabs__panel" id="lannisters-panel">
    
    {{> InformationLayout}}

  </div>
</div>


</div>


</main>

</div>


</template>