<template name="MainLayout">
<main>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/map">Home</a>
      <a class="mdl-navigation__link" href="/placeslist">Places List</a>
      <a class="mdl-navigation__link" href="/addnew">Add New Place</a>      
      <a class="mdl-navigation__link" href="/downloadedmaps">My Maps</a>
    </nav>
  </div>



<div class="mdl-layout__content height-100">


	 {{> Template.dynamic template=main}}

	

	 </div>

</div>
</main>
</template>