 <template name="AdminUserItemLayout">
 	<tr>
      <td class="mdl-data-table__cell--non-numeric">{{username}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{password}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{firstname}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{lastname}}</td>
      <td class="mdl-data-table__cell--non-numeric">{{telephone}}</td>
      <td>
 
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored js-delete-button">
  Delete
</button>


      </td>
    </tr>
 </template>