<template name="AdminMainLayout">

	

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Trip Planner</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/admin/users">Users</a>
        <a class="mdl-navigation__link" href="/admin/places">Places</a>
        <a class="mdl-navigation__link" href="/admin/comments">Comments</a>
        <a class="mdl-navigation__link" href="/admin/maps">Maps</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/admin/users">Users</a>
      <a class="mdl-navigation__link" href="/admin/places">Places</a>
      <a class="mdl-navigation__link" href="/admin/comments">Comments</a>
      <a class="mdl-navigation__link" href="/admin/maps">Maps</a>
    </nav>
  </div>
  <main class="mdl-layout__content admin-page">
    <div class="page-content admin-content">
    	
    	{{> Template.dynamic template=main}}


      

    </div>

     


     

  </main>



</div>


 


	
</template>