<template name="AdminAddNewMapLayout">
	

	<h4>Add New Map</h4>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col place-details">
  <h5>Choose map center that will be displayed as a starting point for the user</h5>
	  	<div id="add-new-map">
  		
  		</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col place-details">
  <h5>Map information</h5>
	<form action="#" class="add-map-form">

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-city" type="text" id="city">
	    <label class="mdl-textfield__label" for="city">City</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-state" type="text" id="state">
	    <label class="mdl-textfield__label" for="state">State</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-size" type="text" id="size">
	    <label class="mdl-textfield__label" for="size">Size</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-bounds" type="text" id="bounds">
	    <label class="mdl-textfield__label" for="bounds">Bounds</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-uri" type="text" id="uri">
	    <label class="mdl-textfield__label" for="uri">Uri</label>
	  </div>

	  	<div class="mdl-cell mdl-cell--12-col">
		  	<button class="js-cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " name="cancel">
  				Cancel
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-add-map" name="add">
  				Add
			</button>

			
		</div>

	</form>	
</div>
</div>
	

</template>