<template name="PlaceLayout">
<a href="/placedetails/{{_id}}" class="link-no-decoration">
	<div  class="demo-card-wide mdl-card mdl-shadow--2dp js-placeinlist" data-id={{_id}}>
	  <div class="mdl-card__title">
	    
	    <h6>{{num_reviews _id}} of reviews</h6>
	    <h6>Average rating{{rating _id}}</h6>
	  </div>
	<!--  <div class="mdl-card__supporting-text">
	    {{description}}}
	  </div> -->
	   <div class="mdl-card__actions mdl-card-border">
	    <a class="mdl-button mdl-button-colored mdl-js-button mdl-js-ripple-effect">
	     	{{name}}
	    </a>
	  </div> 
	  <div class="mdl-card__menu">
	    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
	      <i class="material-icons">share</i>
	    </button>
	  </div>
	</div>

</a>
</template>