<template name="PlacesListLayout">


<div class="mdl-layout mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row js-my-fixed-header">
      <!-- Title --><i class="material-icons js-my-back-arrow">arrow_back</i>
      <span class="mdl-layout-title">List of places</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

<!--za search-->
    <!--  <div class="mdl-textfield mdl-js-textfield mdl-textfield-/-expandable
                  mdl-textfield-/-floating-label mdl-textfield-/-align-right">
        <label class="mdl-button mdl-js-button mdl-button-/-icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label> -->

        <button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
           for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
        </ul>

     <!--   <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp"> 
        </div>
        </div>-->

    </div>
  </header>

  <main class="mdl-layout__content">



<div class="page-content">

	<div class="mdl-grid">

 <!-- {{#if Template.subscriptionsReady}} -->
		{{#each places}}
			<div class="mdl-cell mdl-cell--12-col">
				{{> PlaceLayout}}
			</div>
		{{/each}}
<!--  {{else}}
    {{> spinner}} 
  {{/if}} -->
	</div>
</div>


</main>

</div>
	
</template>