<template name="CommentsListItemLayout">
	
		<li class="list-item-comment">
		      <b><h5 class="text-blue margin-bottom-0px">{{title}}</h5></b>
		      <i><div>{{author}} - {{show_date date}}</div></i>
		     
		      <h6 class="margin-top-0px margin-bottom-0px">{{content}}</h6>
		     
		


		    <div>
		    	
		    	{{#each g in grades grade}}
		    		{{#if g}}
					<i class="material-icons mdl-list__item-icon grade_icon blue-icon">star</i>
		    		{{else}}
		    		<i class="material-icons mdl-list__item-icon grade_icon blue-icon">star_border</i>
		    		{{/if}}
		    	{{/each}}
		  	</div>

		  	<div style="width:98%; margin:auto; text-align:center">	
		  		<img src={{image1}} style="width:29%; border-radius: 10px; padding:1%;" id="image1_{{_id}}">
		  		<img src={{image2}} style="width:29%; border-radius: 10px; padding:1%;" id="image2_{{_id}}">
		  		<img src={{image3}} style="width:29%; border-radius: 10px; padding:1%;" id="image3_{{_id}}">


		  	</div>

    	</li>

	
</template>