<template name="RegisterLayout">
<div class="mdl-layout mdl-js-layout my-register-page">
	<main>
	

	<h2 class="register-title">Register</h2>


	<form>

		<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
		    	<input class="mdl-textfield__input js-username input-login" type="text" id="username" name="username">
		    	<label class="mdl-textfield__label label-login" for="username">Username</label>
		  	</div>
		</div>


		<div class="mdl-cell mdl-cell--12-col">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-password input-login" type="password" id="password" name="password">
		    	<label class="mdl-textfield__label label-login" for="password">Password</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-firstname input-login" type="text" id="firstname" name="firstname">
		    	<label class="mdl-textfield__label label-login" for="firstname">First name</label>
		  	</div>
		</div>


		<div class="mdl-cell mdl-cell--12-col">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-lastname input-login" type="text" id="lastname" name="lastname">
		    	<label class="mdl-textfield__label label-login" for="lastname">Last name</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-telephone input-login" type="tel" pattern="-?[0-9]*(\.[0-9]+)?" id="telephone" name="telephone">
		    	<label class="mdl-textfield__label label-login" for="telephone">Telephone</label>
		    	<span class="mdl-textfield__error">Phone number required!</span>
		  	</div>
		</div>



		<div class="mdl-cell mdl-cell--12-col">
		  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent back" name="back">
  				Back
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent register" name="register">
  				Register
			</button>
		</div>

			</div>

	  	</form>

		
	</main>	
	</div>
</template>