<template name="CommentsListLayout">

		<ul class="comments-list mdl-list">
	<!--	{{#if Template.subscriptionsReady}} -->
			{{#each comments}}
				{{> CommentsListItemLayout}}
			{{/each}}
<!--		{{else}}
			{{> spinner}}
		{{/if}}	 -->
		</ul>

			<div id="popup-for-image2" style="display:none; margin:auto; padding:3px; border-radius:10px;">
				<div style="width: 95%; margin:auto">
					<img id="image-in-popup2" style="width: 100%; margin:auto; border-radius:10px">
				</div>
			</div>
	
</template>