<template name="InformationLayout">			

		<form>

		<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    	<input class="mdl-textfield__input js-name" type="text" id="name" name="name">
		    	<label class="mdl-textfield__label" for="name">Name</label>
		  	</div>
		</div>

		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <textarea class="mdl-textfield__input js-description" type="text" rows= "3" id="description" name="description"></textarea>
   				 <label class="mdl-textfield__label" for="description">Description</label>
  			</div>
  		</div>

  		<div class="mdl-cell mdl-cell--12-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <input class="mdl-textfield__input js-city" type="text" id="city" name="city">
   				 <label class="mdl-textfield__label" for="city">City</label>
  			</div>
  		</div>

  		<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-focused">
			<select name="type-select" id="type-select" class="js-type-select">
				<option value="hotel">Hotel</option>
				<option value="restaurant">Restaurant</option>

				<option value="hotel">Amphitheater</option>
				<option value="restaurant">Museum</option>
				<option value="fortress">Fortress</option>
				<option value="library">Library</option>
				<option value="cinema">Cinema</option>
				<option value="fountain">Fountain</option>
				<option value="gallery">Gallery</option>
				<option value="music">Music</option>
				<option value="planetarium">Planetarium</option>
				<option value="monument">Monument</option>
				<option value="church">Church</option>
				<option value="theatar">Theatar</option>
			</select>
			<label class="mdl-textfield__label" for="type-select">Type</label>
		</div>
		</div>






		<div class="mdl-cell mdl-cell--12-col">
		  	<button class="js-back mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " name="register">
  				Back
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-add" name="login">
  				Add
			</button>
		</div>

			</div>

	  	</form>







</template>