<template name="MapsListLayout">
	
	<div class="mdl-layout mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row js-my-fixed-header">
      <!-- Title --><i class="material-icons js-my-back-arrow">arrow_back</i>
      <span class="mdl-layout-title">Available Cities</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

<!--za search-->


    </div>
  </header>

    <main class="mdl-layout__content">



<div class="page-content">
		<ul class="maps-list mdl-list  mdl-js-ripple-effect">
    {{#if Template.subscriptionsReady}}
			{{#each maps}}
				{{> MapsListItemLayout}}
			{{/each}}
    {{else}}
      {{> spinner}}
    {{/if}}
		</ul>



		</div>


</main>

</div>
	
</template>