<template name="AdminAddNewPlaceLayout">
<div id="pop-up-form-place">
	<form action="#" >

	<h4>Add New Place</h4>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-city" type="text" id="city">
	    <label class="mdl-textfield__label" for="city">Name</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-state" type="text" id="state">
	    <label class="mdl-textfield__label" for="state">Description</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-size" type="text" id="size">
	    <label class="mdl-textfield__label" for="size">Type</label>
	  </div>

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input js-bounds" type="text" id="bounds">
	    <label class="mdl-textfield__label" for="bounds">City</label>
	  </div>


	  	<div class="mdl-cell mdl-cell--12-col">
		  	<button class="js-cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " name="cancel">
  				Cancel
			</button>

			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent js-add-place" name="add">
  				Add
			</button>

			
		</div>

	</form>	

	

	</div>
</template>